<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target name="file"  
					xsi:type="File"
					layout="${date:format=[HH\:mm\:ss.fff]} | ${uppercase:${level:padding=-5}} | ${logger} | ${message}${onexception:${newline}${exception:format=tostring}}"
					fileName=".\Logs\MyLog.log"
					archiveFileName=".\Logs\MyLog{#}.log"
					maxArchiveFiles="14"
					archiveEvery="Day"
					archiveNumbering="DateAndSequence"
					archiveAboveSize="1048576" 
					archiveDateFormat="yyyyMMdd" />​
			<target name="console"
					xsi:Type="ColoredConsole"
					layout="${date:format=[HH\:mm\:ss.fff}] | ${uppercase:${level:padding=-5}} | ${logger} | ${message}${onexception:${newline}${exception:format=tostring}}" />​
			<target name="eventlog"
					xsi:Type="EventLog"
					layout="${date:format=[HH\:mm\:ss.fff}] | ${uppercase:${level:padding=-5}} | ${logger} | ${message}${onexception:${newline}${exception:format=tostring}}"
					machineName="." log="Application" source="TestService" />​
		</targets>

		<rules>
			<logger name="*" minlevel="Debug" writeTo="file" />​
			<logger name="*" minlevel="Debug" wrtieTo="console" />​
			<logger name="*" minlevel="Debug" writeTo="eventlog" />​
		</rules>​
	</nlog>

</configuration>